workflows/ML_AI.json
{
  "name": "ML_AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        -176
      ],
      "id": "3f50bd7f-6e8a-4557-9e3d-c23679ef02ab",
      "name": "When chat message received",
      "webhookId": "aceacc35-07f5-4ae1-8966-5983e26c360d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -752,
        64
      ],
      "id": "f1caebb9-7492-4d15-9aa2-e38bbb94188e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -928,
        64
      ],
      "id": "a6b32d75-960b-4666-832d-a38187f9c240",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4Hyy62lHGp6Iexmc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SEOei5wgEZM1wO2O",
          "mode": "list",
          "cachedResultName": "context_generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -928,
        -176
      ],
      "id": "dd21af54-10cd-4b5a-8a01-58007fc9a125",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Your task is to start the cluster formation based on the data and generate a cluster analytics report.\nYou have two tools.\nThe first one is for clusterization with ID: segment_tool\nThe second one is for generating analytics and a report with an ID: data_analysis\nRun it first segment_tool, then data_analysis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -736,
        -176
      ],
      "id": "5b744dad-6f50-4e60-a19a-112937df5a8f",
      "name": "Data Analysis Orchestrator"
    },
    {
      "parameters": {
        "description": "ID of this tool: data_analysis\nUse this tool to get the date analysis from the subagent.",
        "workflowId": {
          "__rl": true,
          "value": "h2FTlMmbYecrh6eX",
          "mode": "list",
          "cachedResultName": "data_analyst"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -416,
        64
      ],
      "id": "52732d05-5add-4d85-acf8-ac9818103d2a",
      "name": "data_analysis"
    },
    {
      "parameters": {
        "description": "ID of this Tula: segment_tool\nRuns student clustering and saves results to context.\nAnalyzes the dataset and determines numerical and categorical features.\n    Returns information about data structure.",
        "workflowId": {
          "__rl": true,
          "value": "nXKj6ZgCq4UWCy25",
          "mode": "list",
          "cachedResultName": "Feature Analysis Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -592,
        64
      ],
      "id": "9f59b04a-5385-4c4e-8d91-14911bfc8aa0",
      "name": "segment_tool"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Data Analysis Orchestrator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Data Analysis Orchestrator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Data Analysis Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_analysis": {
      "ai_tool": [
        [
          {
            "node": "Data Analysis Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "segment_tool": {
      "ai_tool": [
        [
          {
            "node": "Data Analysis Orchestrator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "604c2ad0-7e7d-44fe-bf88-1087620f04bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aff6233ea1a957f14a29dfbff3b08f776f10dd895024c1773cc4b009bd2f2c86"
  },
  "id": "pJifaAVOrnQZg4Co",
  "tags": []
}